<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find car)/urdf/car.urdf" />
 
 <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
</node>
    
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find car)/urdf.rviz" />
</launch>
